{% extends 'layouts/base.html.twig' %}

{% block title %} CV portalas {% endblock %}

{% block body %}
    <h1 align="center">Gabrielius Jurgelionis IFF-7/5</h1>
    <h1 align="center">Semestro projektas</h1>
{% endblock %}